.DS_Store
*.swp
*.*~
.*~
*.d
*.o
*.a
.settings
*doxygen*
gcov_*.txt
*.gcov
*.gcno
*.gcda
*_tests
*a.out
*.zip
tmp
pdfs
*.map
gcov
objs
lib
*_tests.txt
gcov*.html
.metadata
*.log
*.tlog
*.cache
*.user


